# Vercel & Firebase Environment Variables (Optional - already bundled with defaults)
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0902458910
VITE_FIREBASE_APP_ID=1:130922161694:web:082be0555a4c4aaaa5700f
VITE_FIREBASE_API_KEY=AIzaSyAdCyEW4f9nkMJU8k2MX_vubNz2yUdE7rs
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0902458910.firebaseapp.com
VITE_FIREBASE_DATABASE_ID=ai-studio-colegestion-9665fea9-b5cd-4e97-a188-7d83968c15b2
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0902458910.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=130922161694
